
<head>
	<h1>Login</h1>	
</head>
<body>
    <div id = "errorMessage">
      {{#if message}}
        <h4>{{message}}</h4>
      {{/if}}
    </div>
  <div id = "containerLogin">
    <form role="form" method = "POST" action = "">
      <div class="form-group">
        <label for="username">Username:</label>
        <input name = "username" type="username" class="form-control" id="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input name = "password" type="password" class="form-control" id="password">
      </div>
      <button type="submit" class="btn btn-custom" id = "loginBtn">Submit</button>
    </form>
  </div>
</body>
