<h3>Welcome to the Busy Birder!</h3>
	<body>
		<p>This is a site about bird watching. Ooooh!<p>
			<div align = "center">
				<img src = "../img/owl.gif">
			</div>
			<p>
				See the list of <a style = "color: yellow" href = "/birds">birds</a> or go to my <a style = "color: yellow" href = "/settings"> settings </a> 
			</p>
	</body>


