<form method = "POST" action = "/list/create">
Name: <input type = "text" name = "listName">
<br><br>
Created By: <input type = "text" name = "authorName">
<br><br>
<input type = "submit" value = "Create New Grocery List">
</form>