<!DOCTYPE html>
<!-- <html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Shoppy Shoperson</h1> -->
    {{{body}}}
<!-- 	<br><br>
	<a href = "/list"> All Lists</a> | <a href = "/list/create"> Create a New List </a>
  </body>
</html> -->
