<form method = "POST" action = "/create">
Restaurant name: <input type = "text" name = "name">
<br><br>
Address: <input type = "text" name = "address">
<br><br>
Neighborhood: <input type = "text" name = "neighborhood">
<br><br>
Cuisine: <input type = "text" name = "cuisine">
<br><br>
Price: <input type = "text" name = "price">
<br><br>
<input type = "submit" value = "Add restaurant">
</form>