<head>
	<h1>Where the Hell Should I Eat?</h1>	
	<h3 align = "center">A Site That Tells You Where the Hell You Should Eat</h3>
</head>

<body>
	<div id = "frontPageDiv">
	<h4>Wanna login or register? Click the links on the top right corner!</a></h4>
		<form action="/pickforme", id = "noLogin">
		   <input type="submit" class="btn btn-custom" value="LOL, hell no">
		</form>
		<script src = "javascripts/test.js"></script>
	</div>
</body>
